<div class="container"><h3><%="#{@apps.category}s"%></h3>
  <div class="row no-gutters">
    <% @apps.foods.each do |app| %>
    <div class="col-3"><%=app.name%></div>
    <div class="col-6"><%=app.description%></div>
    <div class="col-2"><%=number_to_currency(app.price)%></div>
    <div class="col-1">
      <form action="/orders" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" value="<%=app.id%>" name="food_id">
      <input type="submit" class="btn btn-primary btn-sm" value="order">
      </form>
    </div>
    <div class="w-100"></div>
  <%end%><!-- end @apps.order loop -->
</div>
</div>
<br>
